@model CoolBooks.Models.Books

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Books</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AlternativeTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AlternativeTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Part)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Part)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PublishDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Authors.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Authors.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Genres.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Genres.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
