@using CoolBooks.Models
@{


    Books bk = ViewData["Books"] as Books;
    @* Reviews reviews = ViewData["Reviews"] as Reviews; *@
    IEnumerable<Reviews> rev = ViewData["Reviews"] as IEnumerable<Reviews>;
}


@*
    @{
        var imagePath = @Model.ImagePath;
    }

*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Books</h4>
        <hr />

       <table class="table table-striped" border="1" >
           <tr rowspan="2">
               <td>
                   <img src=@bk.ImagePath alt="Image not Available"  width="100"/>
               </td>
               <td>
                                
                   <table class="table table-striped">
                       <tr>
                           <td> Title</td>
                           <td>@bk.Title</td>

                       </tr>
                       <tr>
                           <td> Description</td>
                           <td>@bk.Description</td>

                       </tr>
                       <tr>
                           <td>  Author</td>
                           <td> @bk.Authors.FirstName</td>

                       </tr>
                       <tr>
                           <td>  Genres</td>
                           <td> @bk.Genres.Name</td>

                       </tr>
                  </table>
               </td>
              
           </tr>

<tr>
<td width="400" height="200">


</td>
    <td align="right" >
        <table align="right"  class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Comments</th>
                <th>Rating</th>
            </tr>
            @foreach (var reviews in rev)
        {
            <tr>
                <td>@reviews.Title</td>
                <td>@reviews.Text</td>
                <td>@reviews.Rating</td>
            </tr>
    }
            <tr colspan="3">

                <td>
                   <textarea rows="10">

</textarea>

                </td>

            </tr>
        </table>




    </td>

</tr>
                </table>
</div>
    <p>




        @*    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Books.Id }) | *@
        @Html.ActionLink("Back to List", "Index", new { id = string.Empty }, new { @class = "btn btn-primary " })
    </p>
</body>
</html>
