@using CoolBooks.Models
@{


    Books bk = ViewData["Books"] as Books;

    IEnumerable<Reviews> rev = ViewData["Reviews"] as IEnumerable<Reviews>;
    var Uid = ((AspNetUsers)Session["UserInfo"]).Id;
}


@*
    @{
        var imagePath = @Model.ImagePath;
    }

*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <title>Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Comments').keyup(function (e) {
                var max = 4000;
                var len = $(this).val().length;
                var char = max - len;
                $('#text-counter').html(char);
            });
        });

    </script>
</head>
<body>
    <div>

        <hr />
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <table class="table table-striped" border="0">
            <tr rowspan="2">
                <td>
                    <img src=@bk.ImagePath alt="Image not Available" width="200" height="200" />
                </td>
                <td>

                    <table class="table table-striped" border="0">
                        <tr>
                            <td> Title</td>
                            <td>@bk.Title</td>

                        </tr>
                        <tr>
                            <td> Description</td>
                            <td>@bk.Description</td>

                        </tr>
                        <tr>
                            <td>  Author</td>
                            <td> @bk.Authors.FirstName</td>

                        </tr>
                        <tr>
                            <td>  Genres</td>
                            <td> @bk.Genres.Name</td>

                        </tr>
                        <tr>

                            <td colspan="2"> <input type="hidden" name="TxtBookId" value=@bk.Id /></td>

                        </tr>
                    </table>
                </td>

            </tr>

            <tr>
                <td width="400" height="200"></td>
                <td align="right">
                    <table align="right" class="table table-striped" border="0">

                        @foreach (var reviews in rev)
                    {

                        <tr>  <td colspan="2"><B>@reviews.UserId</B></td> </tr>
                        <tr>
                            <td colspan="2">
                                @reviews.Title  @reviews.Created

                                @for (int i = 1; i <= reviews.Rating; i++)
                            {
                                <img src="~/Images/star-fill-lg.png" height="30" />
                        }
                            </td>
                        </tr>

                        <tr>
                            <td>@reviews.Text </td>
                            @if (@Uid == @reviews.UserId)
                        {
                            <td>
                                @Html.ActionLink("Delete", "Delete", "Reviews", new { id = @reviews.Id, BookId = @bk.Id }, new { @class = "btn btn-primary" })
                                @*<input type="submit" id="n1" name=@reviews.Id value="Delete" formaction=@Url.Action("Delete","Reviews") formmethod="post" class="btn btn-primary" /><img src="" alt="Delete" /></td>
                                <input type="hidden" name="n1" value=@reviews.Id />
                                <input type="submit" value="Delete" formaction=@Url.Action("Delete","Reviews") formmethod="post" class="btn btn-primary" />
                                    *@
                            </td>
                    }
                        </tr>


                }
                        @if (Session["UserInfo"] != null)
                    {

                        <tr><td colspan="2"><b>Review Title</b> </td></tr>
                        <tr><td colspan="2"> @Html.TextBox("RevTitle") </td></tr>

                        <tr>

                            <td>

                                <b>   <span id="text-counter"> 4000 </span> character(s) left.</b>
                                @Html.TextArea("Comments", htmlAttributes: new { rows = "5", cols = "100", @class = "form-control", maxlength = "4000" })


                            <td>

                                <input type="submit" name="n2" value="Save" formaction=@Url.Action("Create") formmethod="post" class="btn btn-primary" />


                            </td>

                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                }
                    </table>

                </td>

            </tr>


        </table>
        <div class="stars">
            <input type="radio" name="star" class="star-1" id="star-1" value="1" />
            <label class="star-1" for="star-1">1</label>
            <input type="radio" name="star" class="star-2" id="star-2" value="2" />
            <label class="star-2" for="star-2">2</label>
            <input type="radio" name="star" class="star-3" id="star-3" value="3" />
            <label class="star-3" for="star-3">3</label>
            <input type="radio" name="star" class="star-4" id="star-4" value="4" />
            <label class="star-4" for="star-4">4</label>
            <input type="radio" name="star" class="star-5" id="star-5" value="5" />
            <label class="star-5" for="star-5">5</label>
            <span></span>
        </div>
        }


        }
    </div>

<p>
  @Html.ActionLink("Back to List", "Index", new { id = string.Empty }, new { @class = "btn btn-primary " })

   </p>
</body>
</html>
