@using CoolBooks
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CoolBooks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Donate", "Donate", "Home")</li>
                    @if (@Session["UserInfo"] != null)
                    {
                        <li>@Html.ActionLink("Profile", "Profile", "Users")</li>
                    }
                    @if (@Session["UserInfo"] == null)
                    {
                        <li>@Html.ActionLink("Sign up", "SignUp", "AspNetUsers")</li>
                    }
                    @if (@Session["UserInfo"] == null)
                    {
                        <li>@Html.ActionLink("Log in", "LogIn", "Home")</li>
                    }
                    @if (@Session["UserInfo"] != null)
                    {
                        <li>@Html.ActionLink("Log out", "LogOut", "Home")</li>
                    }
                    <li>@Html.ActionLink("Books", "Index", "Books")</li>
                    <li>@Html.ActionLink("Authors", "Create", "Authors")</li>
                    <li>@Html.ActionLink("Genres", "Create", "Genres")</li>
                    <li>@Html.ActionLink("Search", "Index", "Search")</li>
                    @if (@Session["UserInfo"] != null)
                    {
                        <li>@Html.ActionLink("Logged in as: " + @Session["UserName"], null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - CoolPeople Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
